<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.evolsoft.animewatchmaster">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/logo15"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity
            android:name="com.evolsoft.animewatchmaster.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.evolsoft.animewatchmaster.activities.animebyletter.ActivityLetters"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="anime by letter">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity android:name="com.evolsoft.animewatchmaster.activities.animeinfo.AnimeInfo"
            android:label="anime info">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity android:name="com.evolsoft.animewatchmaster.activities.animebyletter.AnimesByLetter"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="anime by letter">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity android:name="com.evolsoft.animewatchmaster.activities.watchlist.WatchList"
            android:windowSoftInputMode="adjustPan"
            android:label="my watchlist">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.evolsoft.animewatchmaster.activities.watchlater.AnimeWatchLater"
            android:label="watch later">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.evolsoft.animewatchmaster.activities.watched.WatchedAnime"
            android:label="watched">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity android:name="com.evolsoft.animewatchmaster.activities.topanime.TopAnimeActivity"
            android:label="top anime">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity android:name="com.evolsoft.animewatchmaster.activities.upcoming.UpcomingActivity"
            android:label="upcoming anime">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity android:name="com.evolsoft.animewatchmaster.activities.seasons.SeasonsMainActivity"
            android:label="seasons">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity android:name="com.evolsoft.animewatchmaster.activities.share.ShareActivity"
            android:label="share">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>